VITE_SUPABASE_URL=https://kasino21.com
VITE_SUPABASE_ANON_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4MDg5NDU2MCwiZXhwIjo0OTM2NTY4MTYwLCJyb2xlIjoiYW5vbiJ9.nnNWm4KnTYunrafwKkuRjnkFCw6Zc6WulZmtd4HJU_o
VITE_SOCKET_URL=https://kasino21.com
VITE_VAPID_PUBLIC_KEY=BKkzW5OUK8aqr_FI7a0PHwMQzVfsd860ZgVcZ-jzEktGZRdjJ4DuqKfX9x4KwvH91zICJrfLSUDJTBsVAHssLNQ
