
NODE_ENV=production
PORT=4000
SUPABASE_URL=http://supabase-kong-fx0i0zfg2d56g4di15lu499b:8000
SUPABASE_SERVICE_ROLE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc4MDg5NDU2MCwiZXhwIjo0OTM2NTY4MTYwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.kB1LFEC46KOKLkx6oLYvCwYudo2HmB8MAvwu1bMtXEc
JWT_SECRET=23JPJwVh2AuOr2PB46NmY95l9W1R1atr
CORS_ORIGINS=https://kasino21.com
ALLOW_INSECURE_JWT_FALLBACK=false
EXPOSE_RULES_VERSION=false